@{
    ViewData["Title"] = "Contratos - Adicionar";
}

<div class="text-center">

    <!--Listagem dos contratos-->
    <div class="justify-content-center">
        <h1 class="display-4 text-center">Adição de Contratos</h1>
    </div>

    <!--Div de ordenação principal-->
    <div class="col-sm-12 mt-4">

        
    </div>

</div>
